<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión / Senda 7</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <div class="contenedor-login">
        <div class="tarjeta-login">
            <h2>Iniciar sesión</h2>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="mensajes_error">
                  {% for message in message %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %} 
            {% endwith %}
            
            <form action="/login" method="POST">
                <label for="usuario">Usuario</label>
                <input type="text" id="Usuario" name="usuario" required>

                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Iniciar</button>
            </form>

            <p>¿No tienes cuenta? <a href="/" class="enlace-registro">Registrate</a></p>
        </div>
    </div>
</body>
</html>