<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Senda 7</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
  <div class="contenedor-registro">
    <div class="lado-izquierdo">
      <h1>Senda 7</h1>
      <p class="frase">Hoy comienzas tu propia senda.<br> No solo estudies, crece con propósito.</p>
    </div>

    <div class="lado-derecho">
      <h2>Crear cuenta</h2>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="mensajes_error">
            {% for message in message %}
               <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <form method="POST">
        <label for="Usuario">Usuario</label>
        <input type="text" id="Usuario" name="Usuario" required>

        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" required>

        <label for="confirmar">Confirmar Contraseña</label>
        <input type="password" id="confirmar" name="confirmar" required>

        <label for="país">País</label>
        <select id="país" name="país">
          <option value="GE">Guinea Ecuatorial</option>
          <option value="ES">España</option>
          <option value="MX">México</option>
          <option value="USA">Estados Unidos</option>
          <option value="OTRO">Otro</option>
        </select>

        <button type="submit">Comenzar mi senda</button>
      </form>
      
      <p>¿Ya tienes cuenta? <a href="/login" class="enlace-login">Iniciar sesión</a></p>
    </div>
  </div>
</body>
</html>
      
